# orb.yml is "packed" from source, and not published directly from the repository.
orb.yml
.DS_Store
slackIds.json
slackUserInfo.json
slackGroupInfo.json
**/slackData
deleteme*
temporary*
**/dist
**/node_modules
.env